<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>{{site.title}} | {{title}}</title>
  <link rel="alternate" type="application/rss+xml" href="{{site.feed_url}}" />
  <link rel="stylesheet" type="text/css" href="/styles/css/global.css" />
  <script src="//use.edgefonts.net/source-sans-pro.js"></script>
  <link rel="shortcut icon" type="image/png" rel="icon" href="assets/favicon.png"/>
  <link rel="stylesheet" href="/icons.css"><!--[if IE 7]>
  <link rel="stylesheet" href="/icons-ie7.css"><![endif]-->
  {% if site.meta.head %}{{ site.meta.head }}{% endif %}

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48089366-1', 'carolinabuzio.com');
      ga('send', 'pageview', {
      'title' : '{{title}}'
    });
  </script>
</head>
<body>
  {% if site.meta.body_top %}{{ site.meta.body_top }}{% endif %}

  <div class="wrap">

    <header class="primary-header">
      <a href="/"><img class="header-logo" src="/assets/site-logo.png"></a>
      <h1 class="site-title"><a href="/">{{site.title}}</a></h1>
      <p class="subhead">illustrator and animator</p>
      <nav class="nav-menu">
        {% for page in site.pages %}
          <a href="{{page.url}}"{% if page.url == url %} class="is-current-page"{% endif %}>{{page.title}}</a> /
        {% endfor %}
        <a target="_blank" href="http://carolinabuzio.tictail.com">shop</a>
      </nav>
    </header>

    {% if type == 'page' and posts.size > 0 and body != '' %}
      <div class="page-summary body">{{ body }}</div>
    {% elsif type == 'post' %}
      {% include "includes/body" %}
    {% elsif type == 'page' and body != '' %}
      <div class="page-summary body about">
        <div class="about-left">
          <img src="{{ assets.first.url }}" alt="">
        </div>
        <div class="about-right">
          {{ body }}
          <div class="social">
            <h2>SAY HELLO</h2>
            <ul class="share-list">
              <li><a href="https://www.facebook.com/carolinabuzioillustration/"><i class="icon-facebook-squared"></i></a></li>
              <li><a target="_blank" href="https://twitter.com/CarolinaBuzio/"><i class="icon-twitter"></i></a></li>
              <li><a target="_blank" href="http://pinterest.com/carolinabuzio/"><i class="icon-pinterest-circled"></i></a></li>
              <li><a target="_blank" href="http://instagram.com/carolinabuzio/"><i class="icon-instagramm"></i></a></li>
              <li><a target="_blank" href="http://dribbble.com/CarolinaBuzio/"><i class="icon-dribbble"></i></a></li>
              <li><a target="_blank" href="https://www.behance.net/carolinabuzio"><i class="icon-behance"></i></a></li>
              <li><a target="_blank" href="https://vimeo.com/carolinabuzio"><i class="icon-vimeo"></i></a></li>
            </ul>    
          </div>
        </div>
      </div>
    {% elsif type != 'post' and type != 'page' %}
      <div class="page-summary body">Browsing <strong>{{ title }}</strong></div>
    {% endif %}

    {% if posts.size > 0 and type == 'page' %}
      {% include "includes/post-grid" %}
    {% elsif posts.size > 0 %}
      {% include "includes/post-listing" %}
    {% endif %}

  </div>

  <script src="scripts/js/min/application.js"></script>

  {% if site.meta.body_bottom %}{{ site.meta.body_bottom }}{% endif %}
</body>
</html>