* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

html {
  border-left: solid 14px #f0fd81;
  border-right: solid 14px #f0fd81; }

body {
  font-family: "source-sans-pro", Helvetica, sans-serif;
  font-size: 16px;
  color: #363636;
  padding: 0;
  margin: 0;
  line-height: 1.4; }

img, video, object, embed, audio {
  max-width: 100%; }

.wrap {
  margin: 90px auto;
  width: 100%;
  max-width: 1300px; }

h1, h2, h3, h4, h5 {
  margin-top: 0;
  padding: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  color: #363636; }

.siteleaf-credit {
  display: block;
  font-size: 12px;
  color: #6a7c87;
  text-align: center;
  margin: 60px 0; }
  .siteleaf-credit a {
    color: #6a7c87; }

.post-body, .body {
  line-height: 1.5; }

.button {
  display: inline-block;
  text-align: center;
  background-color: #000;
  color: #fff;
  border-radius: 3px;
  padding: 15px 20px;
  text-decoration: none;
  font-weight: bold; }
  .button:hover {
    background: #444; }

.header-logo {
  width: 45px; }

.primary-header {
  text-align: center;
  margin: 60px 0; }
  .primary-header h1 {
    font-size: 54px;
    margin: 0; }
    @media only screen and (max-width: 600px) {
      .primary-header h1 {
        font-size: 36px; } }
    .primary-header h1 a {
      text-decoration: none; }

.subhead {
  margin: 0px 0px 20px;
  font-size: 20px;
  font-style: italic; }

.nav-menu {
  font-size: 14px; }
  .nav-menu a {
    font-style: italic;
    text-transform: uppercase;
    text-decoration: none;
    color: #6a7c87;
    display: inline-block;
    margin: 0 4px;
    letter-spacing: 2px; }
    .nav-menu a.is-current-page {
      text-decoration: underline;
      color: #363636; }
    .nav-menu a:hover {
      color: #363636;
      text-decoration: underline; }

.post-listing {
  zoom: 1; }
  .post-listing:before, .post-listing:after {
    content: "";
    display: table; }
  .post-listing:after {
    clear: both; }

.page-summary {
  margin: 0 auto 60px;
  max-width: 720px;
  text-align: left; }

.about {
  display: flex;
  flex-direction: row;
  max-width: 800px; }

.about-left {
  flex: 1;
  padding: 0 15px; }

.about-right {
  flex: 2;
  padding: 0 15px 0 0; }

body .social h2 {
  margin-bottom: 5px; }

.share-list {
  margin: 12px 0 0;
  display: flex;
  flex-direction: row; }
  .share-list li a {
    font-size: 25px; }
  .share-list li a i.icon-facebook-squared {
    color: #3B5998; }
  .share-list li a i.icon-twitter {
    color: #00aced; }
  .share-list li a i.icon-pinterest-circled {
    color: #cb2027; }
  .share-list li a i.icon-flickr {
    color: #fe0086; }
  .share-list li a i.icon-dribbble {
    color: #e94d8a; }
  .share-list li a i.icon-behance {
    color: #048df2; }
  .share-list li a i.icon-vimeo {
    color: #41b2dc; }
  .share-list li a i.icon-youtube-play {
    color: #CD332D; }

.view-all-button {
  margin: 60px auto;
  width: 90%;
  max-width: 300px;
  display: block; }

.post-preview {
  width: 33%;
  padding: 30px;
  float: left; }
  .post-preview * {
    cursor: pointer; }
  .post-preview:hover {
    outline: 3px solid #f0fd81; }
  @media only screen and (max-width: 700px) {
    .post-preview {
      width: 50%; } }
  @media only screen and (max-width: 500px) {
    .post-preview {
      width: 100%;
      padding: 15px; } }
  .post-preview .post-body {
    margin: 0;
    color: #6a7c87;
    font-size: 14px; }

.post-title {
  font-size: 18px;
  margin: 10px 0; }
  .post-title a {
    text-decoration: none; }

.post-listing-item {
  display: block;
  margin: 0 auto 15px;
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  max-width: 700px;
  text-decoration: none; }
  .post-listing-item:hover {
    background-color: #000;
    color: #fff; }

.post-listing-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  display: block;
  margin: 0; }

.post-listing-date {
  font-size: 14px;
  color: #6a7c87; }

.content {
  max-width: 900px;
  margin: 60px auto 0; }
  .content .padded {
    max-width: 800px;
    margin: auto;
    padding-left: 60px;
    padding-right: 60px; }
  .content .title {
    padding-top: 60px; }
  .content .body {
    padding-bottom: 60px; }
  @media only screen and (max-width: 600px) {
    .content .title, .content .body {
      padding-left: 30px;
      padding-right: 30px; }
    .content .title {
      padding-top: 30px; }
    .content .body {
      padding-bottom: 30px; } }

.title {
  font-size: 30px; }
  @media only screen and (max-width: 600px) {
    .title {
      font-size: 20px; } }

.subpages {
  margin: 5px 0 20px;
  font-size: 14px; }
  .subpages a {
    display: inline-block;
    margin-right: 5px; }

.body {
  font-size: 18px; }
  .body h1, .body h2 {
    font-size: 20px;
    margin: 2em 0 0.7em;
    line-height: 1.3; }
  .body h3 {
    font-size: 18px; }
  @media only screen and (max-width: 600px) {
    .body {
      font-size: 14px; } }

.feat-image-wrap {
  text-align: center; }

.feat-video-wrap {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; }
  .feat-video-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.tagset {
  font-size: 14px; }

.tag {
  text-decoration: none; }
  .tag:after {
    content: ", "; }
  .tag:last-child:after {
    content: ""; }
  .tag:hover {
    color: #6a7c87; }

.post-nav {
  zoom: 1; }
  .post-nav:before, .post-nav:after {
    content: "";
    display: table; }
  .post-nav:after {
    clear: both; }

.post-nav-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
  text-decoration: none;
  display: inline-block;
  width: 50%;
  padding: 15px 30px;
  float: left; }
  .post-nav-link.next {
    float: right;
    text-align: right; }
  .post-nav-link.previous {
    text-align: left; }
  .post-nav-link:hover {
    background: #f0fd81; }

@media screen and (max-width: 600px) {
  .wrap {
    margin: 20px auto; }

  .primary-header {
    margin: 20px 0; }

  .about {
    padding: 0 15px;
    display: block; }

  .about-left {
    display: none; } }

/*# sourceMappingURL=global.css.map */
