<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>{{site.title}} | {{title}}</title>
  <link href='https://fonts.googleapis.com/css?family=Kreon:400,700|Cuprum:400,700' rel='stylesheet' type='text/css'>
  <link rel="alternate" type="application/rss+xml" href="{{site.feed_url}}" />
  <link rel="stylesheet" type="text/css" href="/style.css" />
  <link rel="stylesheet" href="/icons.css"><!--[if IE 7]>
  <link rel="stylesheet" href="/icons-ie7.css"><![endif]-->
  <script type="text/javascript" src="/jquery.js"></script>
  <style type="text/css">
    .content{
      padding: 0;
    }
    .content p:nth-of-type(2), .content p:nth-of-type(3){
      font-size: 16pt;
    }

    .content p:nth-of-type(1){
      text-align: center;
    }
    .content img:nth-of-type(1){
      width: 382px;
      margin: 0 auto;
    }

  </style>
  <script type="text/javascript">
      $(document).ready(function() {
        $("#mobile-menu-trigger").click(function (argument) {
          $(".page-menu").toggle("300");
        });  
      });
  </script>
</head>
<body>

  <div class="wrap">

    <header class="primary-header">
      <a class="no-bar" href="/">
        <img id="logo" src="/assets/site-logo.png" /> 
        <h1 class="site-title">{{site.title}}</h1>
      </a>
      <a class="no-bar" href="/">
        <h2>Portfolio</h2>
      </a>
      <img src="/assets/menu-under-page-title.png" />
      <ul class="page-menu">
        <li><a href="/site/tags/animation">Animation</a></li>
        <img src="/assets/menu-item-separator.png" alt="">
        <li><a href="/site/tags/illustration">Illustration</a></li>
        <img src="/assets/menu-item-separator.png" alt="">
        <li><a href="/site/tags/design">Design</a></li>
        <img src="/assets/menu-item-separator.png" alt="">
      </ul>
      
      <a id="about"href="/about">About</a>
      <a href="/contact">Contact Me!</a>
      <p>Follow:</p>
      <ul id="share-list">
        <li><a href="https://www.facebook.com/carolinabuzioillustration/"><i class="icon-facebook-squared"></i></a></li>
        <li><a href="https://twitter.com/CarolinaBuzio/"><i class="icon-twitter"></i></a></li>
        <li><a href="http://pinterest.com/carolinabuzio/"><i class="icon-pinterest-circled"></i></a></li>
        <li><a href="http://www.flickr.com/photos/carolinabuzio/"><i class="icon-flickr"></i></a></li>
        <li><a href="http://instagram.com/cbuzio/"><i class="icon-instagramm"></i></a></li>
        <li class="line-break"><a href="http://dribbble.com/CarolinaBuzio/"><i class="icon-dribbble"></i></a></li>
        <li><a href=""><i class="icon-behance"></i></a></li>
        <li><a href="https://vimeo.com/carolinabuzio"><i class="icon-vimeo"></i></a></li>
        <li><a href="http://www.youtube.com/CBuzio/"><i class="icon-youtube-play"></i></a></li>
      </ul>
      <img src="/assets/menu-bottom-separator-1.png">
      <a class="external-link" href="#">Shop</a>
      <img src="/assets/menu-bottom-separator-2.png">
      <a class="external-link" href="#">Blog</a>
      <img src="/assets/menu-bottom-separator-3.png">
    </header>
     <header class="mobile-header">
      <a href="javascript:void(0);" id="mobile-menu-trigger"> MENU </a>
      <ul class="page-menu">
        <li><a href="/site/tags/animation">Animation</a></li>
        <li class="selected"><a href="/site/tags/illustration">Illustration</a></li>
        <li><a href="/site/tags/design">Design</a></li>
        <li><a href="/about">About</a></li>
        <hr>
<li><a href="/contact">Contact Me!</a></li>
        <li><a class="external-link" href="#">Shop</a></li>
        <li><a class="external-link" href="#">Blog</a></li>
        <li><a class="external-link" href="#">Shop</a></li>
        <li><a class="external-link" href="#">Blog</a></li>log</a></li>
      </ul>
    </header>

    <section class="content about">


      {% if pages %}
        {% comment %} Show subpages if there are any available {% endcomment %}
        <nav class="subpage-menu">
          {% for subpage in pages %}
            <a href="{{subpage.url}}">{{subpage.title}}</a>
          {% endfor %}
        </nav>
      {% endif %}

      {{body}}

      {% if type == "post" %}
        {% comment %} Show tagsets if this is a post {% endcomment %}

        {% for tagset in taxonomy %}
          <strong>{{tagset.key}} ({{tagset | size}} tags)</strong>
          <ul>
            {% for tag in tagset %}
              <li><a href="{{tag.url}}">{{tag.value}}</a></li>
            {% endfor %}
          </ul>
        {% endfor %}

      {% else %}
        {% comment %} Loop through any posts and show an excerpt {% endcomment %}
        {% for post in posts %}
          <article class="post-preview">
            <h2><a href="{{post.url}}">{{post.title}}</a></h2>
            {{post.body | strip_html | truncatewords: 100}}
            <p><a href="{{post.url}}">View post</a>
          </article>
        {% endfor %}

      {% endif %}

      {% if parent %}
        <p><a href="{{parent.url}}">&larr; Back to {{parent.title}}</a></p>
      {% endif %}

    </section><!-- /content -->
  </div><!-- /wrap -->
</body>
</html>